@model List<CORETeleco.Models.ClienteModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista de Clientes
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Cliente" class="btn btn-success mb-3"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Cédula</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.nombreCliente</td>
                            <td>@item.direccionCliente</td>
                            <td>@item.telefonoCliente</td>
                            <td>@item.correoCliente</td>
                            <td>@item.cedulaCliente</td>
                            <td>
                                <a asp-action="Editar" asp-controller="Cliente" class="btn btn-primary btn-sm" asp-route-idCliente="@item.idCliente">Editar</a>
                                <a asp-action="Eliminar" asp-controller="Cliente" class="btn btn-danger btn-sm" asp-route-idCliente="@item.idCliente">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
