@model List<CORETeleco.Models.EmpleadoModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista de Empleados
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Empleado" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nombreEmpleado</td>
                        <td>@item.apellidoEmpleado</td>
                        <td>@item.nombreRol</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Empleado" class="btn btn-primary btn-sm" asp-route-idEmpleado="@item.idEmpleado">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Empleado" class="btn btn-danger btn-sm" asp-route-idEmpleado="@item.idEmpleado">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

