@model List<CORETeleco.Models.ProductoFacturaModel>
@{
    ViewData["Title"] = "Listar ProductoFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista de Productos Facturados
    </div>
    <div class="card-body">
        <a asp-action="Guardar" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>IdFactura</th>
                    <th>IdProducto</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.idFactura</td>
                        <td>@item.idProducto</td>
                        <td>@item.cantidad</td>
                        <td>
                            <a asp-action="Editar" asp-route-idFactura="@item.idFactura" asp-route-idProducto="@item.idProducto" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="Eliminar" asp-route-idFactura="@item.idFactura" asp-route-idProducto="@item.idProducto" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
